{% extends 'base.html' %}

{% block title %}Categorias{% endblock %}

{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/categorias.css') }}"
/>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center">Categorias</h1>

  <div class="d-flex justify-content-end mb-3">
    <button
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#categoriaModal"
      data-acao="criar"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for categoria in categorias %}
      <tr id="categoria_{{ categoria.id }}">
        <td class="align-middle">{{ categoria.nome }}</td>
        
        <td class="align-middle">{{ categoria.tipo }}</td>

        <td class="text-center">
          <button
            class="btn btn-sm mb-1 btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#categoriaModal"
            data-id="{{categoria.id}}"
            data-nome="{{categoria.nome}}"
            data-tipo="{{categoria.tipo}}"
            data-acao="editar"
          >
            <i class="fa-solid fa-pen text-light"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="categoriaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="categoriaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoriaModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <label for="nomeCategoria" class="form-label">Nome</label>
        <input
          type="text"
          id="nomeCategoria"
          class="form-control"
          placeholder="Nome"
          required
        />

        <div
          id="nomeCategoriaErro"
          class="text-danger"
          style="display: none"
        ></div>

        <p class="form-label mt-3">Tipo</p>
        <div class="d-flex">
          {% for tipoCategoria in tiposCategoria %}
        <div class="form-check ms-3">
          <input
            class="form-check-input"
            type="radio"
            name="tipo"
            id="{{ tipoCategoria.name }}"
            value="{{ tipoCategoria.value }}"
          />
          
          <label class="form-check-label" for="{{ tipoCategoria.name }}">
            {{ tipoCategoria.value }}
          </label>
        </div>
        {% endfor %}
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          id="modalSalvarAlteracoes"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

{% block script %}
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/categorias.js') }}"></script>
{% endblock %}

{% endblock %}
