{% extends 'base.html' %}

{% block title %}Contas{% endblock %}

{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/contas.css') }}"
/>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center">Contas</h1>

  <div class="d-flex justify-content-end mb-3">
    <button
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#contaModal"
      data-acao="criar"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Pessoa</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for conta in contas %}
      <tr id="conta_{{ conta.id }}">
        <td class="align-middle">{{ conta.nome }}</td>

        <td class="align-middle">{{ conta.pessoa.nome }}</td>

        <td class="text-center">
          <button
            class="btn btn-sm mb-1 btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#contaModal"
            data-id="{{ conta.id }}"
            data-nome="{{ conta.nome }}"
            data-pessoa-id="{{ conta.pessoa.id }}"
            data-acao="editar"
          >
            <i class="fa-solid fa-pen text-light"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="contaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contaModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <label for="nomeConta" class="form-label">Nome</label>
        <input
          type="text"
          id="nomeConta"
          class="form-control"
          placeholder="Nome"
          required
        />

        <div id="nomeContaErro" class="text-danger" style="display: none;"></div>

        <label for="pessoaSelect" class="form-label mt-3">Pessoa</label>
        <select id="pessoaSelect" class="form-select">
          <option selected disabled>Selecione uma pessoa</option>
        </select>

        <div id="pessoaSelectErro" class="text-danger" style="display: none;"></div>
      </div>

      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          id="modalSalvarAlteracoes"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

{% block script %}
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/contas.js') }}"></script>
{% endblock %}

{% endblock %}
