{% extends 'base.html' %}

{% block title %}Pessoas{% endblock %}

{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pessoas.css') }}"
/>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center">Pessoas</h1>

  <div class="d-flex justify-content-end mb-3">
    <button
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#pessoaModal"
      data-acao="criar"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for pessoa in pessoas %}
      <tr id="pessoa_{{ pessoa.id }}">
        <td class="align-middle">{{ pessoa.nome }}</td>

        <td class="text-center">
          <button
            class="btn btn-sm mb-1 btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#pessoaModal"
            data-id="{{ pessoa.id }}"
            data-nome="{{ pessoa.nome }}"
            data-acao="editar"
          >
            <i class="fa-solid fa-pen text-light"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="pessoaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="pessoaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pessoaModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <label for="nomePessoa" class="form-label">Nome</label>
        <input
          type="text"
          id="nomePessoa"
          class="form-control"
          placeholder="Nome"
          required
        />
        
        <div id="nomePessoaErro" class="text-danger" style="display: none;"></div>
      </div>

      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          id="modalSalvarAlteracoes"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

{% block script %}
<script src="{{ url_for('static', filename='js/pessoas.js') }}"></script>
{% endblock %}

{% endblock %}
